@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');

:root {
    --font-body: "Noto Sans", "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;;
    --font-important: "Noto Serif","Times New Roman",serif;
    font-family: var(--font-body);
    --fg-color: #babecc;
    --fg-color-2: #868eac;
    --bg-color: #17191c;
    --bg-middle: rgb(20,20,22);
    --el-bg-color: rgb(16, 16, 16);
    --bg-highlight: #2f3336;
    --bg-highlight-2: #484c50;
    --selected-text: #9952c6;
    --selected-half: #9952c670;
    --selected-color: #623d79;
    --cyan: #4eabb9;
    --cyan-half: #4eabb970;
    --green: #4eab6e;
    --green-half: #4eab6e70;
}
body.light-theme {
    --fg-color: #161616;
    --fg-color-2: #2b2934;
    --bg-color: #efefef;
    --bg-middle: #dddddd;
    --el-bg-color: #d5d5d5;
    --bg-highlight: #f5f5f5;
    --bg-highlight-2: #ffffff;
    --selected-color: #8956a9;
    --cyan: #4293a0;
}

body {
	min-height: 100vh;
	margin: 0;
	background-attachment: fixed;
	background-size: 100vw 100vh;
    color: var(--fg-color);
}

a {
    color: var(--fg-color-2);
	text-decoration: none;
    transition: color 0.3s;
}
a:hover {
    color: var(--fg-color);
    text-decoration: none;
}
input {
    padding:0;
    padding-left: 1rem;
    font-size: 14pt;
}
input:-webkit-autofill, input:focus, input:-webkit-autofill,
input:-webkit-autofill:focus, input:-webkit-autofill:active,
input:not(:placeholder-shown):focus, input:-webkit-autofill:hover {
    -webkit-box-shadow: 0 0 0px 1000px var(--el-bg-color) inset !important;
    border: none!important;
    -webkit-text-fill-color: #babecc;
}
.submit-button {
    background-color: var(--fg-color);
    outline: none;
    border: none;
    border-radius: 6px;
    width:8rem;
    height:3rem;
    font-size: 14pt;
    font-weight: bold;
    color:var(--el-bg-color);
    transition: background-color 0.3s;
}
.submit-button:hover {
    cursor:pointer;
    background-color: #a2a7ba;
    box-shadow: #babecc55 0 0 3px 1px;
}
.avatar-xl {
    width: 200px;
    height: 200px;
    border-radius: 5%;
    object-fit: cover;
    border: var(--el-bg-color) 4px solid;
    box-shadow: 0 0 0 10px transparent, 0 0 0 2px var(--fg-color-2); /* Adjust values as needed */
}
