.form-wrap {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    width: 40rem;
    border-radius: 0.8rem;
    background-color: var(--el-bg-color);
    margin: auto;
    align-items: center;
    padding: 1rem;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2) !important;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
    height: 100%;
}

.form-section {
    background-color: var(--el-bg-color);
    margin-bottom: 0.2rem;
    border-bottom: solid;
    border-width: 1px;
    border-color: #32373f;
    transition: border-color 0.3s ease-in-out;
    display: flex;
    position: relative;
    width: 80%;
    height:3.5rem;
}

.form-section:focus-within {
    border-color: var(--fg-color);
}

.form-icon {
    height: 2rem;
    width: auto;
    margin-left: 0.5rem;
    margin-top: auto;
    margin-bottom: auto;
    filter: brightness(0) saturate(100%) invert(92%) sepia(2%) saturate(1552%) hue-rotate(193deg) brightness(86%) contrast(85%);
}
.form-section > i {
    font-size: 2.6rem;
    margin-left: 0.2rem;
    color: var(--fg-color);

}

.form-control {
    height: 100%;
    background-color: var(--el-bg-color);
    border: none;
    color: var(--fg-color);
    padding-right: 7rem;
    box-shadow: none;
    outline: none;
    transition: none;
    width: 100%;
}
    input:focus, input:active, input:hover,
    input:-webkit-autofill, input:-webkit-autofill:hover, input:-webkit-autofill:focus, input:-webkit-autofill:active {
        background-color: var(--el-bg-color) !important;
        box-shadow: none !important;
        -webkit-box-shadow: 0 0 0px 1000px var(--el-bg-color) inset !important;
    }

.form-label {
    display: flex;
    color: #4e5366;
    position: absolute;
    right: 0%;
    top: 20%;
    font-size: 11pt;
    line-height: 0.5rem;
    transition: color 0.2s;
    margin-right: 1rem;
}

.label-filled {
    color: var(--fg-color-2) !important
}